<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <script type="application/javascript" src="/js/validationInstructor.js"></script>
</head>
<body>
    <%- include('../fragments/header.ejs') %>

    <div class="main">
        <h2>Add new instructor</h2>
        <hr>
        <br>
        <form class="form" novalidate onsubmit="return validateForm();">

            <label for="name">Name <span class="symbol-required">*</span></label>
            <input id="name" name="name" type="text" placeholder="2-60 symbols" required>
            <span id="errorName" class="errors-text"></span>

            <label for="email">Email <span class="symbol-required">*</span></label>
            <input id="email" name="email" placeholder="correct email address" type="text" required>
            <span id="errorEmail" class="errors-text"></span>

            <label for="price">Price(per hour)<span class="symbol-required">*</span></label>
            <input id="price" name="price" type="number" required>
            <span id="errorPrice" class="errors-text"></span>

            <label for="license">License issue date<span class="symbol-required">*</span></label>
            <input id="lecense" name="license" type="date" required>
            <span id="errorLicense" class="errors-text"></span>

            <label for="hasCar">Has car</label>
            <input id="hasCar" name="hasCar" type="text">


            <div class="form-buttons">
                <p id="errorSummary" style="visibility: hidden;">Form contains errors!</p>
                <input type="submit" value="Add record" class="form-button-submit-add">
                <a href="../intructorPage/instructor.html" class="form-button-cancel">Cancel</a>
            </div>
        </form>  
    </div>
    <%- include('../fragments/footer.ejs') %>

</body>
</html>