<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <div class="header">
        <nav>
            <a href="../index.html"><img src="../images/logo-fococlipping-standard.png" alt="logo" class="logo" ></a>
            <ul class="nav-links">
                <li><a href="../index.html"><h3>Home</h3></a></li>
                <li  class="student"><a href="../studentsPage/students.html"><h3>Students</h3></a></li>
                <li><a href="../intructorPage/instructor.html"><h3>Instructors</h3></a></li>
                <li><a href="../LessonsPage/lesson.html"><h3>Driving Lessons</h3></a></li>
            </ul>
        </nav>
    </div>

    <div class="main">
        <h2>Student Details</h2>
        <hr>
        <br>
        <form class="form">

            <label for="name">Name <span class="symbol-required">*</span></label>
            <input id="name" name="name" value="Aliia" disabled type="text"  required>
            <span id="errorName" class="errors-text"></span>

            <label for="surname">Surname <span class="symbol-required">*</span></label>
            <input id="surname" name="surname" value="Temirbek kyzy" disabled type="text" required>
            <span id="errorSurname" class="errors-text"></span>

            <label for="phoneNumber">Phone number<span class="symbol-required">*</span></label>
            <input id="phoneNumber" name="phoneNumber" value="555689534" disabled type="number" required>
            <span id="errorNumber" class="errors-text"></span>

            <label for="address">Address</label>
            <input id="address" name="address" value="Warsaw wolska 105" disabled type="text">
            <br>
            <label for="birthDate">Birth Date<span class="symbol-required">*</span></label>
            <input id="birthDate" name="birthDate" value="2000-03-23" disabled type="date" required>
            <span id="errorDate" class="errors-text"></span>

           
            <a href="./form-edit.html">Edit</a>

        </form>  
        <br>
        <table class="table-list">
            <thead>
                <tr id="mainRow">

                    <th>Instructor</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Categoty</th>
                </tr>
            </thead>
            <tr>
                <td>Max</td>
                <td>14/11/2022, 15:40</td>
                <td>14/11/2022, 19:40</td>
                <td>B</td>
            </tr>
            <tr>
                <td>Michal</td>
                <td>22/11/2022, 15:40</td>
                <td>22/11/2022, 19:40</td>
                <td>A</td>
            </tr>

        </table>
        <br>
        <a href="./students.html">Back</a>

    </div>

    <footer>

        <hr>

        <span>Aliia Temirbek kyzy</span><br>
        <span>S21366</span>
    </footer>

</body>
</html>