<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <%- include('../fragments/header.ejs') %>
    <div class="main">
        <h2>List of students:</h2>
        <br>
        <table class="table">
            <thead>
                <tr id="mainRow">

                    <th>Name</th>
                    <th>Surname</th>
                    <th>Phone Number</th>
                    <th>Address</th>
                    <th>Birth Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Aliia</td>
                    <td>Temirbek kyzy</td>
                    <td>555689534</td>
                    <td>Poland, Warsaw</td>
                    <td>2000.03.23</td>
                    <td>
                        <ul class="list">
                            <li><a href="./details.html" class="list-action-button-details">Details</a></li>
                            <li><a href="./form-edit.html" class="list-action-button-edit">Edit</a></li>
                            <li><a onclick="deleteFunc()" href="#" class="list-action-button-delete">Delete</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Konrad</td>
                    <td>Sydow</td>
                    <td>555689534</td>
                    <td>Poland, Warsaw</td>
                    <td>2000.03.23</td>
                    <td>
                        <ul class="list">
                            <li><a href="./details.html" class="list-action-button-details">Details</a></li>
                            <li><a href="./form-edit.html" class="list-action-button-edit">Edit</a></li>
                            <li><a onclick="deleteFunc()" href="#" class="list-action-button-delete">Delete</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Michale</td>
                    <td>Ski</td>
                    <td>555689534</td>
                    <td>Poland, Warsaw</td>
                    <td>2000.03.23</td>

                    <td>
                        <ul class="list">
                            <li><a href="./details.html" class="list-action-button-details">Details</a></li>
                            <li><a href="./form-edit.html" class="list-action-button-edit">Edit</a></li>
                            <li><a onclick="deleteFunc()" href="#" class="list-action-button-delete">Delete</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Rema</td>
                    <td>Dino</td>
                    <td>555689534</td>
                    <td>Poland, Warsaw</td>
                    <td>2000.03.23</td>

                    <td>
                        <ul class="list">
                            <li><a href="./details.html" class="list-action-button-details">Deatails</a></li>
                            <li><a href="./form-edit.html" class="list-action-button-edit">Edit</a></li>
                            <li><a onclick="deleteFunc()" href="#" class="list-action-button-delete">Delete</a></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>Selena</td>
                    <td>Gomes</td>
                    <td>555689534</td>
                    <td>Poland, Warsaw</td>
                    <td>2000.03.23</td>
                    <td>
                        <ul class="list">
                            <li><a href="./details.html" class="list-action-button-details">Details</a></li>
                            <li><a href="./form-edit.html" class="list-action-button-edit">Edit</a></li>
                            <li><a onclick="deleteFunc()" href="#" class="list-action-button-delete">Delete</a></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
        <p><a href="./form.html" class="button-add">Add new student</a></p>
    
    </div>
    <%- include('../fragments/footer.ejs') %>


    <script>
        function deleteFunc() {
            var response = confirm("Do you want to delete it?  Click OK to proceed otherwise click Cancel.");
            if ( response == true )
                {alert("Student was deleted")}
        }
     </script>
    


</body>
</html>